.item_intro {
    background-color: #e7f1f8;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 310px;
    width: 600px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 10px 5px 5px #aaaaaa;
}